<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85461646979-464mbrebudvsnqg7jgjd98p992r1gm8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85461646979-464mbrebudvsnqg7jgjd98p992r1gm8o</string>
	<key>API_KEY</key>
	<string>AIzaSyAnY2tAjtiV2ABdKUGVb9ZPr5eMNy_IzFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>85461646979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lou.WaterAccount</string>
	<key>PROJECT_ID</key>
	<string>wateraccount-205b7</string>
	<key>STORAGE_BUCKET</key>
	<string>wateraccount-205b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85461646979:ios:72e470d1d529e7bf9865b6</string>
</dict>
</plist>